{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron mb-1 bg-primary text-light">
      <h1 class="display-4 text-center">TCC</h1>
      <p class="lead text-center">Maurício Andrade</p>
      <hr class="my-4">
      <p class="display-4 text-center">Pessoas x Treinamentos</p>

      <div class="container">
        <div class="row">
          <div class="col text-success"><i class="fas fa-smile fa-10x"></i></div>
          <div class="col text-warning"><i class="fas fa-frown fa-10x"></i></div>
          <div class="col text-danger"><i class="fas fa-angry fa-10x"></i></div>
        </div>
      </div>

    </div>


{% endblock %}